@font-face {
  font-family: "BBC Reith Sans";
  src: local("BBC Reith Sans"), local("BBC-Reith-Sans"),
    url("../fonts/BBCReithSans_W_Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BBC Reith Sans";
  src: local("BBC Reith Sans"), local("BBC-Reith-Sans"),
    url("../fonts/BBCReithSans_W_Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
